body{
  height: 100vh;
  margin: 0;
  text-align: center;
  width: 100%;
}

body:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.widget{
  background-image: url("resources/tokyo.jpg");
  display: inline-block;
  vertical-align: middle;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.blocks {
  background-image: url("resources/tokyo1.jpg");
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.block {
  min-width: 300px;
}

.sun-img {
  box-sizing: border-box;
}

.weather {
  background: #42282b;
  font-size: 50px;
  opacity: 0.8;
}

.date {
  background: #ad2d38;
  font-size: 20px;
  opacity: 0.8;
}

.text {
  color: white;
  line-height: 100px;
}

@media all and (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .widget {
    padding: 0;
  }

  .block {
    min-height: 114px;
  }

  .sun-img {
    min-height: 100px;
    padding: 5px;
  }

  .degrees {
    background: white;
    color: #ad2d38;
    font-size: 50px;
    height: 100px;
    line-height: 100px;
    opacity: 0.8;
    width: 300px;
  }

  .degrees::after{
    content: "28\2103"
  }
}

@media all and (min-width: 768px) {
  .container {
    box-shadow: 0 0 5px;
    flex-wrap: wrap;
    margin: 8% auto;
    width: 600px;
  }

  .widget {
    padding: 16px 72px;
  }

  .sun-img {
    min-height: 200px;
    padding-top: 16%;
  }

  .degrees {
    background-image: url("resources/degrees.png");
    height: 400px;
    width: 262px;
  }
}
